@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Big+Shoulders+Display:wght@700&family=Lato:ital,wght@0,300;0,400;1,700&family=Lexend+Deca&family=Open+Sans&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Big+Shoulders+Display:wght@700&family=Lato:ital,wght@0,300;0,400;1,700&family=Lexend+Deca&family=Open+Sans&family=Poppins:wght@400;700&display=swap');

/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
} */



.overlay {
    width: 20%;
    margin-left: 550px;
}

.svg {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    background-color: #dbad84;
    height: 100%;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

html, body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    min-height: 100%;
    margin-top: 12px;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
}

.section {
    min-height: 100vh;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    font-family: "Abril Fatface", sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
}

h1 {
    font-size: 9vw;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
}

.contain {
    margin: 0 10%;
}

.hero-title span {
    font-weight: 800;
    margin: 0 2%;
}


.hero-text {
    width: 80%;
    float: left;
}

.cat {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    margin-top: 30px;
}

.cat.margin-bottom {
    margin-bottom: 1rem;
}

.description {
    letter-spacing: 1px;
    width: 100%;
    float: left;
    margin-bottom: 1rem;
}

.description p {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
}

#bg {
    z-index: -1;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#bg img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    max-width: 100%;
}

.image-one {
    width: 80%;
    float: left;
    margin-right: 50px;
}


/* media query */

@media (min-width: 1280px) {
    .description {
        width: 100%;
    }
}